@font-face {
    font-family: 'AMB-iconfont';
    src:    url('../webfont/AMB-iconfont.eot?odkd1b');
    src:    url('../webfont/AMB-iconfont.eot?odkd1b#iefix') format('embedded-opentype'),
        url('../webfont/AMB-iconfont.ttf?odkd1b') format('truetype'),
        url('../webfont/AMB-iconfont.woff?odkd1b') format('woff'),
        url('../webfont/AMB-iconfont.svg?odkd1b#AMB-iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ambicon-"], [class*=" ambicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'AMB-iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ambicon-001_arrow_right:before {
  content: "\e900";
}
.ambicon-002_arrow_left:before {
  content: "\e901";
}
.ambicon-003_arrow_down:before {
  content: "\e902";
}
.ambicon-004_arrow_up:before {
  content: "\e903";
}
.ambicon-005_arrow_last:before {
  content: "\e904";
}
.ambicon-006_arrow_first:before {
  content: "\e905";
}
.ambicon-007_arrow2_right:before {
  content: "\e906";
}
.ambicon-008_arrow2_left:before {
  content: "\e907";
}
.ambicon-009_arrow2_up:before {
  content: "\e908";
}
.ambicon-010_arrow2_down:before {
  content: "\e909";
}
.ambicon-011_scale_up:before {
  content: "\e90a";
}
.ambicon-012_scale_down:before {
  content: "\e90b";
}
.ambicon-013_mark_plus:before {
  content: "\e90c";
}
.ambicon-014_mark_minus:before {
  content: "\e90d";
}
.ambicon-015_mark_times:before {
  content: "\e90e";
}
.ambicon-016_mark_divide:before {
  content: "\e90f";
}
.ambicon-017_list_default:before {
  content: "\e910";
}
.ambicon-018_align_all:before {
  content: "\e911";
}
.ambicon-019_align_left:before {
  content: "\e912";
}
.ambicon-020_align_right:before {
  content: "\e913";
}
.ambicon-021_align_center:before {
  content: "\e914";
}
.ambicon-022_newwindow:before {
  content: "\e915";
}
.ambicon-023_trash:before {
  content: "\e916";
}
.ambicon-024_view_big:before {
  content: "\e917";
}
.ambicon-025_view_small:before {
  content: "\e918";
}
.ambicon-026_search:before {
  content: "\e919";
}
.ambicon-027_setting:before {
  content: "\e91a";
}
.ambicon-028_reflash:before {
  content: "\e91b";
}
.ambicon-029_doc_single:before {
  content: "\e91c";
}
.ambicon-030_doc_add:before {
  content: "\e91d";
}
.ambicon-031_doc_remove:before {
  content: "\e91e";
}
.ambicon-032_doc_multi:before {
  content: "\e91f";
}
.ambicon-033_human:before {
  content: "\e920";
}
.ambicon-034_pencel:before {
  content: "\e921";
}
.ambicon-035_key_lock:before {
  content: "\e922";
}
.ambicon-036_key_unlock:before {
  content: "\e923";
}
.ambicon-037_alert_line:before {
  content: "\e924";
}
.ambicon-038_alert_full:before {
  content: "\e925";
}
.ambicon-039_star_line:before {
  content: "\e926";
}
.ambicon-040_star_full:before {
  content: "\e927";
}
.ambicon-041_home_line:before {
  content: "\e928";
}
.ambicon-042_home_full:before {
  content: "\e929";
}
.ambicon-043_layout_all:before {
  content: "\e92a";
}
.ambicon-044_layout_left:before {
  content: "\e92b";
}
.ambicon-045_layout_right:before {
  content: "\e92c";
}
.ambicon-046_check_circle:before {
  content: "\e92d";
}
.ambicon-047_check_square:before {
  content: "\e92e";
}
.ambicon-048_check:before {
  content: "\e92f";
}
.ambicon-049_radiobox:before {
  content: "\e930";
}
.ambicon-050_monitor:before {
  content: "\e931";
}
.ambicon-051_print:before {
  content: "\e932";
}
.ambicon-052_folder:before {
  content: "\e933";
}
.ambicon-053_loard_up:before {
  content: "\e934";
}
.ambicon-054_loard_down:before {
  content: "\e935";
}
.ambicon-055_weather_sun:before {
  content: "\e936";
}
.ambicon-056_weather_cloud:before {
  content: "\e937";
}
.ambicon-057_weather_humidity:before {
  content: "\e938";
}
.ambicon-058_weather_moon:before {
  content: "\e939";
}
.ambicon-059_weather_temperature:before {
  content: "\e93a";
}
.ambicon-060_weather_rain:before {
  content: "\e93b";
}
.ambicon-061_weather_thunder:before {
  content: "\e93c";
}
.ambicon-062_chatting:before {
  content: "\e93d";
}
.ambicon-063_battary:before {
  content: "\e93e";
}
.ambicon-064_money_bill:before {
  content: "\e93f";
}
.ambicon-065_cross_arrow:before {
  content: "\e940";
}
.ambicon-066_letter:before {
  content: "\e941";
}
.ambicon-067_graph_bar:before {
  content: "\e942";
}
.ambicon-068_graph_bar2:before {
  content: "\e943";
}
.ambicon-069_graph_line:before {
  content: "\e944";
}
.ambicon-070_graph_pie:before {
  content: "\e945";
}
.ambicon-071_list_colum:before {
  content: "\e946";
}
.ambicon-072_calendar:before {
  content: "\e947";
}
.ambicon-072_frame:before {
  content: "\e948";
}
.ambicon-073_wallet:before {
  content: "\e949";
}
.ambicon-074_get_out:before {
  content: "\e94a";
}
.ambicon-075_get_in:before {
  content: "\e94b";
}
.ambicon-076_box_plus:before {
  content: "\e94c";
}
.ambicon-077_box_minus:before {
  content: "\e94d";
}
.ambicon-078_bullet_donut:before {
  content: "\e94e";
}
.ambicon-079_bullet_plus:before {
  content: "\e94f";
}
.ambicon-080_bullet_minus:before {
  content: "\e950";
}
.ambicon-081_bullet_box_plus:before {
  content: "\e951";
}
.ambicon-082_bullet_box_minus:before {
  content: "\e952";
}
.ambicon-083_employee_s1:before {
  content: "\e953";
}
.ambicon-084_employee_s2:before {
  content: "\e954";
}
.ambicon-085_list_s1:before {
  content: "\e955";
}
.ambicon-086_photo:before {
  content: "\e956";
}
.ambicon-087_flieadd:before {
  content: "\e957";
}
.ambicon-088_view_detail:before {
  content: "\e958";
}
.ambicon-089_mtree_open:before {
  content: "\e959";
}
.ambicon-090_mtree_close:before {
  content: "\e95a";
}
.ambicon-091_mtree_1dpAdd:before {
  content: "\e95b";
}
.ambicon-092_mtree_2dpAdd:before {
  content: "\e95c";
}
.ambicon-093_mtree_all:before {
  content: "\e95d";
}
.ambicon-094_mtree_read:before {
  content: "\e95e";
}
.ambicon-095_bell:before {
  content: "\e95f";
}
.ambicon-096_doc_xls:before {
  content: "\e960";
}
.ambicon-097_file_pdf:before {
  content: "\e961";
}
.ambicon-098_file_xls:before {
  content: "\e962";
}
.ambicon-099_file_hwp:before {
  content: "\e963";
}
.ambicon-100_file_doc:before {
  content: "\e964";
}
.ambicon-101_file_save:before {
  content: "\e965";
}
.ambicon-102_root:before {
  content: "\e966";
}
.ambicon-103_folder:before {
  content: "\e967";
}
.ambicon-104_folder_open:before {
  content: "\e968";
}
